#wrapper{
    width: 960px;
}
#top {
    height: 130px;
}
#menu{
    line-height: 130px;
}
#banner{
    background-image: url("../images/4x4-adventure-automobile-1571783.jpg");
    background-size: cover;
    width: 960px;
    height: 554px;
}
#content{
    opacity: 0.5;
    height: 554px;
    width: 480px;
    line-height: 554px;
}
#aboutContent{
    height: 554px;
    margin: auto;
    width: 50%;
}
#footer{
    height: 100px;
    line-height: 100px;
}
#heading2{
    opacity: 100%;
}
a{
    text-decoration: none
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.clearFix {
    clear: both;
}
.displayInline{
    display: inline;
}
.textRight{
    text-align: right;
}
.textLeft{
    text-align: left;
}
.textCenter{
    text-align: center;
}
.Helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.colorWhite{
    color: white;
}
.bgBlack{
    background-color: black;
}
.clearMargin{
    margin: 0;
}
.clearPadding{
    padding: 0;
}
.thinBorder{
    border: 1px black solid;
}
.centerImage{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.center{
    margin-right: auto;
    margin-left: auto;
}